{% extends 'base/base.html' %}

{% block title %}Edita los datos del proveedor{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Proveedores</a></li>
                            <li class="active">Editar</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Edita los datos del proveedor</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate" onsubmit="return confirm('¿Estas seguro de modificar este proveedor?')">
                            {% csrf_token %}
                            {% if form.errors%}
                                <div class="alert alert-danger">
                                    <p>{{form.errors}}</p>
                                </div>
                            {% endif %}
                            <input type="hidden" name="id" id="id" value="{{ supplier_id }}">
                            <div class="form-group">
                                <label for="name" class="control-label mb-1">Nombre</label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="address" class="control-label mb-1">Dirección</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group">
                                <label for="phone_number" class="control-label mb-1">Número de Teléfono</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="form-group">
                                <label for="days" class="control-label mb-1">Días de Entrega:</label>
                                    {% for checkbox in form.days %}
                                        <div class="checkbox">
                                            <label>
                                                    {{ checkbox.tag }} {{ checkbox.choice_label }}
                                            </label>
                                        </div>
                                    {% endfor %}
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Actualizar Proveedor</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>
{% endblock content %}