{% extends 'base/base.html' %}

{% block title %}Listado de Ventas{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Ventas</a></li>
                            <li class="active">Lista</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Listado de Ventas</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table id="table" class="table table-striped table-bordered cell-border">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Total Vendido</th>
                                <th>Total de Lista</th>
                                <th>Pago por tarjeta</th>
                                <th>Fiado</th>
                                <th>A quien</th>
                                <th>Fecha</th>
                                {% if user.is_superuser %}<th>Acción</th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if order %}
                            {% for order in order %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ order.total }}</td>
                                <td>{{ order.list_total }}</td>
                                <td>
                                    {% if order.by_card == True %}
                                        Sí
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.by_trust == True %}
                                        Sí
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.to_trust == null %}
                                        ---
                                    {% else %}
                                        {{order.to_trust}}
                                    {% endif %}
                                </td>
                                <td>{{ order.created_date }}</td>
                                {% if user.is_superuser %}
                                <td>
                                    <a onclick="showOrder({{order.id}})" class="btn btn-success form-control">Ver</a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No hay datos de ventas.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>

<!-- View Order Modal's start -->
<div class="modal fade show d-none" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
  <div class="modal-dialog" role="document">
    <div class="message modal-content border border-success">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <h2>Datos de la venta:</h2><br>
          <p><strong>Id: </strong><span id="modal_id"></span></p>
          <p><strong>Fecha: </strong><span id="modal_date"></span></p>
          <div class="modal-products modal-body text-center overflow-scroll">Productos:</div>
          <p><strong>Total Cobrado: </strong>$<span id="modal_total"></span></p>
          <p><strong>Total de Lista: </strong>$<span id="modal_list_total"></span></p>
          <p><strong>Pago con tarjeta: </strong><span id="modal_by_card"></span></p>
          <p><strong>Fiado: </strong><span id="modal_by_trust"></span></p>
          <p><strong>A quien: </strong><span id="modal_to_trust"></span></p>
          <p><strong>Usuario: </strong><span id="user"></span></p>
      </div>
    </div>
  </div>
</div>
<!-- Modal's end -->

{% endblock content %}